#
# Copyright (C) 2023 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    # Modem
    chmod 0777 /dev/smd8
    chown radio radio /dev/smd8

    # Modify permission of block_size node
    chown -h vendor_qdss /sys/bus/coresight/devices/coresight-tmc-etr/block_size
    chmod 660 /sys/bus/coresight/devices/coresight-tmc-etr/block_size

on post-fs-data
    # Create folder of camera
    mkdir /data/vendor/camera/offlinelog 0777 cameraserver audio

    # Create the directories used by the wireless subsystem
    mkdir /data/vendor/mac_addr 0770 system wifi

    # Modem
    mkdir /data/vendor/modem 0777 radio radio

    # Create the directory used by qrtr-lookup
    mkdir /data/vendor/qrtr 0775 system system

on property:sys.boot_completed=1
    start qrtr-lookup

service qrtr-lookup /vendor/bin/qrtr-lookup
    class core
    user system
    group system
    disabled
    oneshot
