#
# Copyright (C) 2023 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    # Modem
    chmod 0777 /dev/smd8
    chown radio radio /dev/smd8

    # Modify permission of block_size node
    chown -h vendor_qdss /sys/bus/coresight/devices/coresight-tmc-etr/block_size
    chmod 660 /sys/bus/coresight/devices/coresight-tmc-etr/block_size

on post-fs-data
    # Create folder of camera
    mkdir /data/vendor/camera/offlinelog 0777 cameraserver audio

    # Create the directories used by the wireless subsystem
    mkdir /data/vendor/mac_addr 0770 system wifi

    # Modem
    mkdir /data/vendor/modem 0777 radio radio

    # Create the directory used by qrtr-lookup
    mkdir /data/vendor/qrtr 0775 system system

on property:sys.boot_completed=1
    start qrtr-lookup

service qrtr-lookup /vendor/bin/qrtr-lookup
    class core
    user system
    group system
    disabled
    oneshot

service vendor.audio-hal /vendor/bin/hw/android.hardware.audio.service_64
    override
    class hal
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct wakelock context_hub
    capabilities BLOCK_SUSPEND
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    socket audio_us_socket_0 seqpacket 0666 system system
    onrestart restart audioserver

service vendor.sensors-hal-2-1-multihal /vendor/bin/hw/android.hardware.sensors@2.1-service.multihal
    override
    class hal
    user system
    group system wakelock context_hub
    task_profiles ServiceCapacityLow
    socket audio_us_socket_1 seqpacket 0666 system system
    capabilities BLOCK_SUSPEND
    rlimit rtprio 10 10
